@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);

@font-face {
  font-family: "SF Pro Display";
  src: url("../public/fonts/SFNSDisplay-Regular.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../public/fonts/SFNSDisplay-Medium.otf") format("opentype");
  font-style: bold;
  font-display: swap;
}

Button {
  padding: 7px 12px;
}

Input {
  padding: 7px 12px;
}
